

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: black;
  color: white; 
  
}

h1 {
  text-align: center;/*Aligns the webpage title to the center*/
  font-family: verdana, arial, sans-serif; 
  color: white;
  
}

button {
  padding: 10px;
  border-radius: 10px;
  
}/*Sets padding and border-radius for ALL buttons*/

#gameButtons > button {
  width:200px;
  height: 200px;
  border:2px solid rgb(0, 0, 0);
  
}/*Sets width, height, and border for all #gamebuttons */

.hidden {
  display:none;
  
}/*Hides the button(s) start / stop when they have this class attribute*/

#button1 {
  background-color: lightgreen;
}/*Sets background color to lightgreen*/
#button1:active, #button1.lit {
    background:green;
}/*When clicked color changes to green*/

#button2 {
  background-color: lightblue;
}/*Sets background color to lightblue*/
#button2:active, #button2.lit {
    background:blue;
}/*When clicked color changes to blue*/

#button3 {
  background-color: pink;
}/*Sets background color to pink*/
#button3:active, #button3.lit {
    background:red;
}/*When clicked color changes to red*/

#button4 {
  background-color: lightyellow;
}/*Sets background color to lightyellow*/
#button4:active, #button4.lit {
    background:yellow;
}/*When clicked color changes to yellow*/




heart {
  background-color: red;
  display: inline-block;
  height: 30px;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 30px;
  
}

heart:before,
heart:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 30px;
  position: absolute;
  width: 30px;
}

heart:before {
  top: -15px;
  left: 0;
}

heart:after {
  left: 15px;
  top: 0;
}




/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}